<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playground</title>
    <link rel="stylesheet" href="./style.css">
    <style>
        body{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 5rem 0rem 0rem 0rem;
        }
        table tr td{
            width: 1rem;
            height: 1rem;
        }
        .color1{
            background-color: black;
        }
        .color2{
            background-color: red;
        }
    </style>
</head> 
<body>
        <table>
    {% for i in range(5): %}
        <tr>
            {% for j in range(5): %}
            <td class="color1"></td>
            <td class="color2"></td>
            {% endfor %}
        </tr>
        <tr>
            {% for j in range(5): %}
            <td class="color2"></td>
            <td class="color1"></td>
            {% endfor %}
        </tr>
    {% endfor %}
            </table> 
    <table>
    {% for i in range(height): %}
        <tr>
        {% for j in range(width): %}
            <td class="color{{ (i+j)%2+1 }}"></td>
        {% endfor %}
        </tr>
    {% endfor %}
    </table>
</body>
</html> --> 

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <title>Checkerboard</title>
</head>
<body>
    <h1 style="background-color: {{color_two}}; color: {{color_one}};">*** CHECKERBOARD ***</h1>
    <table>
        <tbody>
            {% for i in range(0,row) %}
                <tr>
                    {% for x in range(0,col) %}
                        {% if (x+i) % 2 == 0 %}
                            <td style="background-color: {{color_one}};"></td>
                        {% else %}
                            <td style="background-color: {{color_two}};"></td>
                        {%  endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html> -->