* {
    padding: 0;
    margin: 0;
    box-shadow: none;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0rem 0rem 0rem 0rem;
    border: 1rem solid black;
}



