* {
    padding: 0px;
    margin: 0px;
    box-shadow: none;
}

:root {
    --temp1: 24;
    --temp2: 18; 
    --temp3: 27;
    --temp4: 19;
    --temp5: 21;
    --temp6: 16;
    --temp7: 26;
    --temp8: 21;
}

.container_1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_3 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_4 {
    display: flex;
    align-items: center;
    justify-content: center;
}