<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo's and Ninjas</title>
</head>
<body>
    <form action="/create/ninja" method="post">
        ...
        <select name="dojo_id">
            <!-- Need to create an option list for the user to select a dojo. -->
            <!-- Note that we are passing the dojo id into the value -->
            {% for dojo in dojos %}
            <option value={{dojo.id}}>{{dojo.name}}</option>
            {% endfor %}
        </select>
    </form>
</body>
</html>
