<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard/title>
    <style>
        .button_1 {
            margin: .5rem 0rem 0rem 0rem;
            width: 4rem;
            height: 2rem;
            background: rgb(52, 123, 229);
            color: #f7faf9;
            border-radius: 5px;
            border: none;
        }
    </style>
</head>
<body>
    <h1>Welcome {{ data.first_name }}</h1>
    <a href="/" class="button_1">Logout</a>
</body>
</html>