* {
    padding: 0;
    margin: 0;
    box-shadow: none;
}
body {
    display: block;
    
}
.heading {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: .1rem solid rgb(86, 83, 83);
    padding: 0rem 0rem .3rem 0rem;
}
.heading > h1 {
    margin: 1rem 0rem 0rem 2rem;
}
.heading > h2 {
    margin: 1rem 5rem 0rem 25rem;
}
.heading > a {
    margin: 1rem 1rem 0rem 0rem;
}
.friends_button {
    margin: 0rem 0rem 0rem 0rem;
    padding: 0rem 1rem 0rem 1rem;
    width: 4rem;
    height: 2rem;
    background:red;
    color: #f7faf9;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.logout_button {
    margin: 0rem 0rem 0rem 0rem;
    width: 4rem;
    height: 2rem;
    background:rgb(52, 123, 229);
    color: #f7faf9;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.bottom_box {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.left_box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 1rem 5rem 0rem 0rem;
    padding: 1rem 1rem 1rem 1rem;
    background-color: rgb(86, 83, 83);
    border-radius: 5px;
    width: 20rem;
}
.topic {
    text-align: center;
    border-bottom: .11rem solid rgb(234, 206, 45);
    color: white;
    margin: 0rem 0rem 1rem 0rem;
}
.header_line {
    margin: 0rem 0rem 1rem 0rem;
    color: rgb(234, 206, 45);
}
.each_form_1 {
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(52, 123, 229);
    color: white;
    padding: 1rem;
    margin: 0rem 0rem 1rem 0rem;
}
.message_line {
    border-bottom: .2rem solid rgb(0, 67, 168);
    margin: 1rem 0rem 0rem 0rem ;
}
.del_button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: red;
    color: white;
    margin: .2rem 15rem 0rem 0rem;
    width: 4rem;
    height: 2rem;
    border-radius: 5px;
    border: none;

}
.right_box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 1rem 0rem 0rem 3rem;
    padding: 1rem 1rem 1rem 1rem;
    background-color: rgb(86, 83, 83);
    border-radius: 5px;
}
.each_form_2 {
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    margin: 0rem 0rem 1rem 0rem;
}
.labels {
    color: white;
}
.text_boxes {
    width: 20rem;
    height: 5rem;
}
.message_button {
    margin: .2rem 15rem 0rem 0rem;
    width: 4rem;
    height: 2rem;
    background-color: rgb(234, 206, 45);
    border-radius: 5px;
    border: none;
}
.error_message {
    margin: 0rem 0rem 1rem 0rem;
}
#list {
    list-style-type: none;
    color: red;
    font-size: 1rem;
}