<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1>Counter</h1>
    <h3>{{ session["counter"] }}</h3>
    <div class="button_box">
        <div class="box_1">
        <a href="/click" class="buttons" id="but1">Click</a>
        <a href="/destroy_session" class="buttons" id="but2">Reset</a>
    </div>
</body>
</html>