* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}

/* Navigation Bar */

.top_box {
    height: 50px;
    background-color: #3b3636;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: rgb(202, 200, 200);
    font-family: monospace;
    font-size: larger;
    margin-left: 20%;
}

#nav-title {
    font-weight: bold;
    color: rgb(227, 217, 217);
    font-family: cursive;
    font-size: 20px;
    align-items: center;
    margin: 0px 25px 0px 0px;
}   

#active {
    font-weight: bold;
    color: white;
    font-family: monospace;
    text-decoration: none;
    margin: 0px 25px 0px;
    display: inline;
    white-space: nowrap;
}

#nonactive {
    font-weight: normal;
    color: rgb(202, 200, 200);
    font-family: monospace;
    margin: 0px 25px 0px;
    text-decoration: none;
    display: inline;
    white-space: nowrap;
}

.button {
    margin-right: 20%;
}

.btn {
    width: 80px;
    height: 25px;
    background:#38c9e3;
    color: #f7faf9;
    border: 3px solid black;
    box-shadow:2px 2px 2px #01252b;
}

/* Bottom Boxes */

.bottom_boxes {
    display: flex;
    align-items: top;
    justify-content: center;
    margin-top: 20px;
}

/* Top Boxes */

.bottom_left_box {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    margin-left: 20%;
    padding-right: 10px;
}

.user_container {
    width: 500px;
    background: linear-gradient(#098399 30%, white 30%);
    padding: 25px;
    border: 3px solid lightgrey;
}

.user_image {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: lightseagreen;
    padding: 3px;
}

.user_image .profile_image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid white;
}

.user_name {
    font-family: cursive;
}

.user_location {
    display: flex;
    align-items: center;
    margin: 10px 0px 10px;
    font-family: cursive;
}

.user_location_image {
    height: 25px;
    width: 25px;
    margin-right: 5px;
}

#user_description {
    font-family: sans-serif;
}

.user_edit {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.gear_image {
    height: 20px;
    width: 20px;
}

.user_edit_link {
    color: #1b6bac;
    padding-left: 5px;
}

/* Education */

.education {
    margin-top: 20px;
    border: 3px solid lightgrey;
}

.uncentered_top_section {
    height: 50px;
    background-color: #3b3636;
    display: flex;
    align-items: center;
}
.uncentered_top_section h2 {
    color: lightgrey;
    font-family: cursive;
    font-size: 1.25rem;
    padding: 23px;
}

.bottom_section {
    display: flex;
}

.ed {
    margin: 10px 0px 10px 20px;
    font-family: cursive;
}

.ed_date {
    color: rgb(103, 105, 106);
    margin: 3px 0px 3px;
}

/* Bottom Right Box */

.bottom_right_box {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    margin-right: 20%;
    padding-left: 10px;
}

/* Connection Requests */

.connection_requests {
    margin-left: 5px;
    border: 3px solid lightgrey;
}

.top_section {
    height: 50px;
    background-color: #3b3636;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.buttons_2 {
    width: 30px;
    height: 30px;
    background: lightgrey;
    border-radius:360px;
    color: rgb(0, 0, 0);
    border: none;
}

.top_section > h2 {
    color: lightgrey;
    font-family: cursive;
    font-size: 1.25rem;
}

.bottom_section {
    display: flex;
    flex-direction: column;
}

.person_1, .person_2 {
    display: flex;
    align-items: center;
    justify-content: center;

}

.connection_pic_icon {
    border-radius: 360px;
    width: 30px;
    height: 30px;
    margin: 10px;
}

.connection_text {
    margin: 10px 80px 10px 5px;
    white-space: nowrap
}

.circle_icons {
    width: 30px;
    height: 30px;
    margin: 5px;
}

/* Connection */

.connections {
    margin: 10px 0px 0px 5px;
    border: 3px solid lightgrey;
}

.top_section_2 {
    height: 50px;
    background-color: #3b3636;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: lightgrey;
    font-family: cursive;
    font-size: .85rem;
}

.buttons_3 {
    width: 40px;
    height: 30px;
    background: lightgrey;
    border-radius:360px;
    color: rgb(0, 0, 0);
    border: none;
}

.connect_person_1,
.connect_person_2,
.connect_person_3,
.connect_person_4,
.connect_person_5,
.connect_person_6,
.connect_person_7 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 90px;
}

.view_more_button {
    height: 40px;
    border-top: 3px solid lightgrey;
    display: flex;
    align-items: center;
    justify-content: left;
}

.view_more_button a {
    margin-left: 10px;
    color: #1b6bac;
}