/* Image Sources
Bounty Hunter Image From - https://imgbin.com/png/7q6HuiP8/boba-fett-luke-skywalker-jango-fett-star-wars-jabba-the-hutt-png
Yoda Image From - https://imgbin.com/png/eP3KdQyV/star-wars-png
Star Wars Logo From - https://www.pngfind.com/download/ibiRiTh_star-wars-logo-star-wars-hd-png-download/ 
Background Images From - https://www.vecteezy.com/video/15396991-the-speed-of-light-from-the-longitudinal-lines-of-white-on-a-black-background
Background Image From - https://pixabay.com/videos/planet-space-universe-background-124685/
*/

* {
    padding: 0;
    margin: 0;
    box-shadow: none;
}

.background_image {
    background: url(imgs/my-background-image.png);
    background-size: cover;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* Main Content */
#logo_image {
    height: 4rem;
    width: 8rem;
    padding: .5rem 0rem 0rem 0rem;
    color: white;
}

#game_name {
    color: rgb(147, 137, 21);
    height: 2rem;
    padding: .5rem 0rem 0rem 0rem;
}

#image_box {
    display: flex;
    align-items: top;
    justify-content: center;
    flex-direction: row;
}

#main_image {
    height: 19rem;
    width: 8rem;
    padding: 0rem 1rem 0rem 0rem;
    margin: 3rem 0rem 0rem 0rem;
    color: white;
}

#change_image {
    height: 12rem;
    width: 14rem;
    padding: 0rem 0rem 0rem 0rem;
    color: white;
}

/* Question and Answer Box */
#question_box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0rem 0rem 0rem 0rem;
}

.text_box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem 1rem 1rem 1rem;
    margin: 0rem 0rem .5rem 0rem;
}

.question_box_active {
    border: .21rem solid rgb(42, 4, 85);
    background: rgb(49, 4, 231);
    background-image:
    linear-gradient(
        to right, 
        rgb(0, 0, 0), 
        #480a94 20% 40%, 
        rgb(103, 40, 205), 
        #480a94,
        rgb(20, 9, 39)
        );
}

/* Information inside of the Question and Answer Box */
.character_name {
    color: white;
    font-family: Verdana;
    text-align: center;
    font-size: .9rem;
    padding: 0rem 1rem 0rem 1rem;
}

.homeworld {
    color: white;
    font-family: Verdana;
    text-align: center;
    font-size: .9rem;
    padding: 1rem 1rem 0rem 1rem;
}

/* Input */
#input {
    height: 2rem;
    width: 15rem;
    border-radius: 2rem;
    text-align: center;
    font-family: Verdana;
    font-size: .8rem;
    font-weight: bold;
    border: .21rem solid rgb(42, 4, 85);
}

/* Button */
#button {
    background: rgb(49, 4, 231);
    color: #ffffff;
    border: .21rem solid rgb(42, 4, 85);
    font-family: Verdana;
    margin: .5rem 0rem .5rem 0rem;
    padding: .7rem 3rem .7rem 4rem;
    font-size: .8rem;
    font-weight: bold;
    background-image:
    linear-gradient(
        to right, 
        rgb(0, 0, 0), 
        #480a94 20% 40%, 
        rgb(103, 40, 205), 
        #480a94,
        rgb(20, 9, 39)
    );
}

/* Score */
.score {
    color: white;
    font-family: Verdana;
    margin: 0rem 0rem .5rem 0rem;
    padding: .7rem 2rem .7rem 2rem;
    font-size: .8rem;
    font-weight: bold;
}

/* Secret Answer */
.secret_answer {
    color: white;
}

/* This is the alert message */

.remove_message_box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: Verdana;
    padding: 1rem;
    background: rgb(49, 4, 231);
    border: .21rem solid rgb(42, 4, 85);
    position: fixed;
    top: 20%;
    left: 35%;
    color: white;
    background-image:
    linear-gradient(
        to right, 
        rgb(0, 0, 0), 
        #480a94 20% 40%, 
        rgb(103, 40, 205), 
        #480a94,
        rgb(20, 9, 39)
    );
}

#title_text {
    margin: 1rem 0rem 0rem 0rem;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
}

#rules_text {
    margin: 1rem 0rem 0rem 0rem;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
}

#lets_play_button {
    background: rgb(49, 4, 231);
    color: #ffffff;
    border: .1rem solid black;
    box-shadow: .5rem .5rem .5rem #000000;
    font-family: Verdana;
    padding: .4rem .4rem .4rem .4rem ;
    margin: 1rem 1rem 0rem 0rem;
}


