/* Image Sources
Bounty Hunter Image From - https://imgbin.com/png/7q6HuiP8/boba-fett-luke-skywalker-jango-fett-star-wars-jabba-the-hutt-png
Yoda Image From - https://imgbin.com/png/eP3KdQyV/star-wars-png
Star Wars Logo From - https://www.pngfind.com/download/ibiRiTh_star-wars-logo-star-wars-hd-png-download/ 
*/

* {
    padding: 0;
    margin: 0;
    box-shadow: none;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* Main Content */
#logo_image {
    height: 6rem;
    width: 12rem;
    padding: 1rem 0rem 0rem 0rem;
    color: white;
}

#game_name {
    color: rgb(147, 137, 21);
    height: 2rem;
    padding: 1rem 0rem 0rem 0rem;
}

#image_box {
    display: flex;
    align-items: top;
    justify-content: center;
    flex-direction: row;
}

#main_image {
    height: 20rem;
    width: 10rem;
    padding: 1rem 3rem 1rem 0rem;
    color: white;
}

#change_image {
    height: 10rem;
    width: 7rem;
    padding: 0rem 0rem 0rem 0rem;
    color: white;
}

/* Question and Answer Box */
#question_box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0rem 0rem 0rem 0rem;
}

.text_box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem 1rem 1rem 1rem;
    margin: 0rem 0rem 3rem 0rem;
}

.question_box_active {
    border: .21rem solid rgb(42, 4, 85);
    background: rgb(49, 4, 231);
    background-image:
    linear-gradient(
        to right, 
        rgb(0, 0, 0), 
        #480a94 20% 40%, 
        rgb(103, 40, 205), 
        #480a94,
        rgb(20, 9, 39)
        );
}

/* Information inside of the Question and Answer Box */
.character_name {
    color: white;
    font-family: cursive;
    text-align: center;
    font-size: .7rem;
    padding: 0rem 2rem 0rem 2rem;
}

.homeworld {
    color: white;
    font-family: cursive;
    text-align: center;
    font-size: .7rem;
    padding: 1rem 1.7rem 0rem 2rem;
}

/* Input */
#input {
    height: 3rem;
    width: 20rem;
    border-radius: 2rem;
    text-align: center;
    font-family: cursive;
    font-size: 1rem;
}

/* Button */
#button {
    background: rgb(49, 4, 231);
    color: #d2acff;
    border: .1rem solid rgb(65, 4, 162);
    font-family: cursive;
    margin: 1rem 0rem 1rem 0rem;
    padding: 1rem 3rem 1rem 4rem;
    font-size: 1rem;
    background-image:
    linear-gradient(
        to right, 
        rgb(0, 0, 0), 
        #480a94 20% 40%, 
        rgb(103, 40, 205), 
        #480a94,
        rgb(20, 9, 39)
    );
}

/* This is the alert message */

.remove_message_box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: cursive;
    padding: 1rem;
    background-color: rgb(70, 14, 167);
    position: fixed;
    top: 25%;
    left: 25%;
    color: white;
    background-image:
    linear-gradient(
        to right, 
        rgb(0, 0, 0), 
        #480a94 20% 40%, 
        rgb(103, 40, 205), 
        #480a94,
        rgb(20, 9, 39)
    );
}

#title_text {
    margin: 1rem 0rem 0rem 0rem;
    text-align: center;
    color: rgb(221, 198, 251);
    font-size: 1.3rem;
}

#rules_text {
    margin: 1rem 0rem 0rem 0rem;
    text-align: center;
    color: rgb(221, 198, 251);
    font-size: 1.3rem;
}

#lets_play_button {
    background: rgb(49, 4, 231);
    color: #d2acff;
    border: .1rem solid black;
    box-shadow: .5rem .5rem .5rem #000000;
    padding: .4rem .4rem .4rem .4rem ;
    font-family: cursive;
    margin: 1rem 1rem 0rem 0rem;
}


