<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playground</title>
</head>
<body>
    <h1 style="color:#000000;text-align:center; margin: 2rem; ">Welcome!</h1>
    <div style="display: flex; align-items: center; justify-content: center; flex-direction: row; flex-wrap: wrap;" class="boxes">
        {% for number in range(value) %}
        <p class="boxes" style=" background-color: {{ color }}; border: .2rem solid black; width: 15rem; height: 15rem; margin: 1rem">{{ background_color}}</p>
        {% endfor %}
    </div>
</body>
</html>