* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
}

.container {
    max-width: 500px;
    width: 200%;
    background: linear-gradient(#098399 30%, white 30%);
    border-radius: 0%;
    padding: 25px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

.image {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: lightseagreen;
    padding: 3px;
}

.image .profile_image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid white;
}

.name {
    font-family: cursive;
}

.location {
    display: flex;
    align-items: center;
    margin: 10px 0px 10px;
    font-family: cursive;
}

.location_image {
    height: 25px;
    width: 25px;
    margin-right: 5px;
}

#text {
    font-family: sans-serif;
}

.edit {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.gear_image {
    height: 20px;
    width: 20px;
}

.edit_link {
    color: #1b6bac;
    padding-left: 5px;
}
