* {
    padding: 0;
    margin: 0;
    font-family: cursive;
}

.main_container {
    display: block;
    align-items: center;
    justify-content: center;
}

.container_1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.network {
    margin-left: 20px;
    width: 70%;
    height: 50px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: #000000;
    padding-left: 10px;
    font-size: 1.5rem;
}

.container_2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0px 10px 0px;
}

.your_feed {
    font-size: 1.5rem;
}

.container_3 {
    display: flex;
    align-items: top;
    justify-content: center;
}

.section_1 {
    width: 15%;
    margin-right: 10px;
}

.section_2 {
    width: 50%;
    margin-left: 10px;
}

.profile_box {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid black;
}

.profile_pic {
    width: 100px;
    height: 70%;
    margin: 10px 0px 10px 0px;
}

.add_avitar_link {
    margin: 10px 0px 10px 0px;
    font-family: cursive;
    font-size: .9rem;
}

a, .add_avitar_link {
    color: rgb(51, 134, 194);
}

.profile_name {
    margin: 10px 0px 10px 0px;
}

.comment_box {
    border: 3px solid black;
    margin: 0px 0px 10px 0px;
    width: 100%;
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.some_user {
    margin-left: 15px;
}

#like_count_1, #like_count_2, #like_count_3 {
    margin: 0px 0px 0px 230px;
}

.bottom {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-left: 30px;
    padding: 0px 0px 15px 0px;
}

.some_text {
    font-size: 1.05rem;
}

.btn_5 {
    width: 60px;
    height: 30px;
    background:#d9b447;
    color: #000000;
    border: 3px solid black;
    box-shadow:3px 3px 3px #000000;
}