
.Button_1 {
    margin: 1%;
    width: 8%;
    height: 10%;
    background:rgb(243, 246, 244);
    border-radius:360px;
    color: #18c27e;
    border-color: #18c27e;
}
.Button_2 {
    margin: 1%;
    width: 2%;
    height: 2%;
    background:#18c27e;
    border-radius:360px;
    color: #f4f7f5;
    border-color: #18c27e;
    border-style: solid;
}
.Button_3 {
    margin: 1%;
    width: 12%;
    height: 15%;
    background:#03407c;
    color: #f7faf9;
    border-color: #000704;
    border-style: solid;
    box-shadow: 10px 5px 5px #03407c;
}