.container{
    width: 950px;
    background-color: silver;
    margin: 0px auto;
}
.top-nav {
    height: 100px;
    background-color: green;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-top: 20px;
}
.side-nav {
    height: 300px;
    width: 200px;
    background-color: blue;
    margin-left: 20px;
    margin-right: 20px;
    display: inline-block;
}
.main {
    height: 400px;
    width: 690px;
    background-color: red;
    margin-bottom: 20px;
    display: inline-block;
}
.sub-content {
    height: 200px;
    width: 197px;
    background-color: yellow;
    display: inline-block;
    margin-right: 5px;
    margin-top: 10px;
    margin-left: 10px;
}
#advertisement {
    height: 115px;
    width: 630px;
    background-color: purple;
    margin-top: 20px;
    margin-left: 10px;
}
.container_2{
    display: flex;
}



