* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Button_1 {
    margin: 1%;
    width: 8%;
    height: 10%;
    background:rgb(243, 246, 244);
    border-radius:360px;
    color: #18c27e;
    border-color: #18c27e;
}

.Button_2 {
    margin: 1%;
    width: 2%;
    height: 2%;
    background:#18c27e;
    border-radius:360px;
    color: #f4f7f5;
    border-color: #18c27e;
    border-style: solid;
}

.Button_3 {
    margin: 1%;
    width: 12%;
    height: 15%;
    background:#03407c;
    color: #f7faf9;
    border-color: #000704;
    border-style: solid;
    box-shadow: 10px 5px 5px #03407c;
}

.row {
    display:flex;
}

.col {
    flex:1;
    padding: 20px;
    margin: 10px;
    background-color: lightcyan;
}

.col-2 {
    flex:2;
    padding: 20px;
    margin: 10px;
    background-color: palegreen;
}

.col-3 {
    flex:3;
    padding: 20px;
    margin: 10px;
    background-color: darkcyan;
}

.nav {
    flex-grow: 4;
    height: 50px;
    background-color: rgb(59, 54, 54);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Roboto', sans-serif;
}

.nav-title {
    padding-top: 10px;
    padding-left: 20px;
    font-weight: bold;
    color: rgb(227, 217, 217);
    font-family: cursive;
    font-size: 20px;
}   

.nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 560px;
    text-decoration: none;
    font-weight: normal;
    color: rgb(202, 200, 200);
    font-family: monospace;
}

#active {
    font-weight: bold;
    color: white;
    font-family: monospace;
    margin: 7px;
    text-decoration: none;
}

#nonactive {
    font-weight: normal;
    color: rgb(202, 200, 200);
    font-family: monospace;
    margin: 7px;
    text-decoration: none;
}

.btn {
    width: 80px;
    height: 25px;
    background:#38c9e3;
    color: #f7faf9;
    border: 3px solid black;
    box-shadow:2px 2px 2px #01252b;
}

.gradient {
    background-color: blue;
    width: 200px;
    height: 200px;
    background-image: linear-gradient(to right, blue 33%, white 33% 66%, red 66%);
    border: 5px solid black;
}